<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368428221980-knpiprfjkl7ci411aiutk96rfjvb4msa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368428221980-knpiprfjkl7ci411aiutk96rfjvb4msa</string>
	<key>API_KEY</key>
	<string>AIzaSyCpO_YI0T5nIwORwZSFKA-WISo9YKRveq4</string>
	<key>GCM_SENDER_ID</key>
	<string>368428221980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Domiik.LoginNoStoryboard</string>
	<key>PROJECT_ID</key>
	<string>loginnostoryboard</string>
	<key>STORAGE_BUCKET</key>
	<string>loginnostoryboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368428221980:ios:b2131c09ee51c3e815c1d9</string>
</dict>
</plist>